/**** COLORES ****/

//blancos
$white: #fff;
$isabelle: #eeeded;
$spanish-gray: #989797;

//amarillos
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;

//rojos
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

//verdes
$shiny_shamrock: #4ca866;
$tourquoise-green: #9dcfab;
$pastel-gray: #bddfc7;

//azules
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;

/**** TYPOGRAPHY ****/

$monospace: 'PT Mono', monospace;
$roboto:  'Roboto', sans-serif;

/**** SIZES ****/

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;