.location{
    clear: both;
    height: 40vh;
}

.location__left{
    width: 70%;
    float: left;
}

.location__invitation, .location__map{
    width: 50%;
    float: left;
}

.location__right{
    position: relative;
    float: right;
    width: 30%;
    height: 40vh;
    background: url(../images/img-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.location__granos-cafe{
    width: $xxx-large;
    height: 70%;
    position: absolute;
    top: 0;
    left: -45px;
}